#root {
  height: 100%;
}

html, body {
  height: 100%;
}

.App {
  height: 100%;
  display: grid;
  grid-template-rows: min-content auto min-content;
}

main.home-page {
  background-color: var(--default-primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}