:root {
  --main-text-color: black;
  --scale: 1;
}

#root {
  height: 100%;
}

html, body {
  height: 100%;
}

.App {
  height: 100%;
}

#home {
  background-color: blue;
  height: calc(100% - 155px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#album_of_the_day {
  background-color: yellow;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#album_of_the_day img{
  height: 200px;
  width: 200px;
}

#news_section {
  background-color: yellow;
}