header {
  background-color: red;
  height: 45px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#right_links {
  display: flex;
}

header form {
  background-color: aqua;
}

header img {
  height: 40px;
  width: 40px;
}

header a {
  margin-left: 10px;
  text-decoration: none;
  color: var(--main-text-color);
}